.flex{
    display: flex;
}

.relative{
    position: relative;
}

.w-full{
    width: 100%;
}

.justify-center{
    justify-content: center;
}

.float-right{
    float: right;
}

/* Remover depois! */

.nextra-search{
    display: none !important;
}